@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

.header-main {
  grid-area: head;
  padding: 2rem;
  font-weight: var(--fnt-wt-head-main);
  font-size: var(--fnt-sz-head-main);
  color: var(--clr-green-dark);
  line-height: 4.5rem;
}
.header-sub {
  font-weight: var(--fnt-wt-head-sub);
  font-size: var(--fnt-sz-head-sub);
  color: var(--clr-green-dark);
  margin-bottom: 2rem;
}
.header-tertiary {
  font-weight: var(--fnt-wt-head-tertiary);
  font-size: var(--fnt-sz-head-tertiary);
}
.header-macro {
  font-weight: var(--fnt-wt-head-macro);
}

.result-text {
  line-height: 2.5rem;
}

.target-text {
  font-weight: var(--fnt-wt-head-sub);
  background-color: var(--clr-white);
}

:root {
  font-size: 62.5%;
  --fnt-fam-default: "Roboto", sans-serif;
  --fnt-sz-default: 1.6rem;
  --fnt-sz-head-main: 4rem;
  --fnt-sz-head-sub: 2.5rem;
  --fnt-sz-head-tertiary: 1.9rem;
  --fnt-wt-default: 400;
  --fnt-wt-head-sub: 700;
  --fnt-wt-head-main: 900;
  --fnt-wt-head-tertiary: 700;
  --fnt-wt-head-macro: 700;
  --clr-green-bright: hsl(140, 100%, 86%);
  --clr-green-dark: hsl(151, 33%, 60%);
  --clr-green-pale: hsl(164, 28%, 68%);
  --clr-accent: hsl(155, 53%, 45%);
  --clr-invalid: hsl(0, 98%, 68%);
  --clr-white: hsl(0, 0%, 98%);
  --clr-dark: hsl(0, 0%, 33%);
}

body {
  font-family: var(--fnt-fam-default);
  font-size: var(--fnt-sz-default);
  font-weight: var(--fnt-wt-default);
  line-height: 2rem;
  padding-block: 2rem;
  color: var(--clr-dark);
  text-align: center;
  background: var(--clr-green-bright);
  display: grid;
  place-items: center;
  min-height: 100vh;
}
@media only screen and (min-width: 56.25em) {
  body {
    text-align: left;
  }
}

.main-area {
  background-color: var(--clr-white);
  width: min(90%, 110rem);
  border-radius: 1rem;
  display: grid;
  grid-template-areas: "head" "input" "results";
  gap: 2rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.29);
}
@media only screen and (min-width: 56.25em) {
  .main-area {
    grid-template-areas: "input head" "input results";
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
  }
}

.data-input {
  grid-area: input;
}
@media only screen and (min-width: 56.25em) {
  .data-input {
    width: 30rem;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../assets/input-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.29);
  }
}

.results {
  grid-area: results;
  text-align: left;
  width: 100%;
}

.user-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}
.user-data__label {
  font-weight: var(--fnt-wt-head-sub);
  display: block;
}
.user-data__input {
  border: 2px solid var(--clr-accent);
  display: block;
  padding: 0.5rem 2rem;
  border-radius: 50rem;
  width: 100%;
  background-color: var(--clr-white);
}

section {
  padding: 2rem;
}

.results-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.macro-grid {
  display: grid;
  gap: 1rem;
  overflow: hidden;
}
@media only screen and (min-width: 56.25em) {
  .macro-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.macro-protein, .macro-carbs, .macro-fats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  border: 2px solid var(--clr-accent);
  background: var(--clr-green-dark);
  border-radius: 0.5rem;
}

.calculate {
  background: var(--clr-green-dark);
  text-align: center;
  margin-top: 2rem;
  border-radius: 10rem;
  padding: 1rem 4rem;
  color: var(--clr-white);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.29);
}
.calculate:hover {
  background: var(--clr-green-pale);
  color: var(--clr-dark);
}

.invalid {
  border: 2px solid var(--clr-invalid);
}

.error {
  color: var(--clr-invalid);
  border: 2px dashed var(--clr-invalid);
  padding: 1rem;
}

.hidden {
  display: none;
}

.pd-1 {
  padding: 1rem;
}/*# sourceMappingURL=styles.css.map */