@use "../abstracts/" as a;

.user-data {
  &__label {
    font-weight: var(--fnt-wt-head-sub);
    display: block;
    margin: 1rem;
  }
  &__input {
    border: 2px solid var(--clr-accent);
    display: block;
    padding: 0.5rem 2rem;
    border-radius: 50rem;
    width: 100%;
  }
}
section {
  padding: 2rem;
}
