@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap");

.header {
  &-main {
    font-weight: var(--fnt-wt-head-main);
    font-size: var(--fnt-sz-head-main);
    color: var(--clr-header-main);
    line-height: 4.5rem;
    margin-bottom: 2rem;
  }
  &-sub {
    font-weight: var(--fnt-wt-head-sub);
    font-size: var(--fnt-sz-head-sub);
    color: var(--clr-header-sub);
    margin-bottom: 2rem;
  }
}
