@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap");

.header {
  &-main {
    grid-area: head;
    padding: 2rem;
    font-weight: var(--fnt-wt-head-main);
    font-size: var(--fnt-sz-head-main);
    color: var(--clr-green-dark);
    line-height: 4.5rem;
    // margin-bottom: 2rem;
  }
  &-sub {
    font-weight: var(--fnt-wt-head-sub);
    font-size: var(--fnt-sz-head-sub);
    color: var(--clr-green-dark);
    margin-bottom: 2rem;
  }
  &-tertiary {
    font-weight: var(--fnt-wt-head-tertiary);
    font-size: var(--fnt-sz-head-tertiary);
  }
  &-macro {
    font-weight: var(--fnt-wt-head-macro);
  }
}

.result-text {
  line-height: 2.5rem;
}
.target-text {
  font-weight: var(--fnt-wt-head-sub);
  background-color: var(--clr-white);
}

.twit-link {
  font-weight: var(--fnt-wt-link);
  &:hover {
    text-decoration: underline;
  }
}
